<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean 在被解析的时候回自动执行构造方法，同时 自动 实例化一个对象-->
    <!--name 也是别名， 逗号 空格分号都支持，可用多个名称-->
    <!-- @Component 自动装配类-->
    <!--<bean id="user" class="com.he.pojo.User" name="user1,user2">
        &lt;!&ndash;属性赋值 不需要构造方法&ndash;&gt;
       &lt;!&ndash;<property name="str" value="hello" />&ndash;&gt;
        &lt;!&ndash;通过参数名称赋值 需要有 对应参数的构造放啊发&ndash;&gt;
        <constructor-arg name="str" value="hello"/>
    </bean>-->

    <bean id="mysqlImpl" class="com.he.dao.UserDaoMysqlImpl"/>
    <bean id="oracleImpl" class="com.he.dao.UserDaoOracleImpl"/>
    <bean id="sqlserverImpl" class="com.he.dao.UserDaoSqlserverImpl"/>
    <bean id="UserServiceImpl" class="com.he.service.UserServiceImpl">
        <!-- ref 引用 spring容器中自动创建的对象
            value 具体的值 基本的数据类型
        -->
        <property name="userDao" ref="sqlserverImpl"/>
    </bean>
    <!--别名 原名称可用，用新的名称也可用-->
    <!--<alias name="user" alias="userNew"/>-->
</beans>